/vagabond/images/GB.png
/vagabond/images/GBoat.png
/vagabond/images/GC.png
/vagabond/images/GD.png
/vagabond/images/GF.png
/vagabond/images/GL.png
/vagabond/images/GS.png
/vagabond/images/GW.png
/vagabond/images/HB.png
/vagabond/images/HBoat.png
/vagabond/images/HC.png
/vagabond/images/HD.png
/vagabond/images/HF.png
/vagabond/images/HL.png
/vagabond/images/HS.png
/vagabond/images/HW.png
/favicon.ico
/images/GO_1.png
/images/GO_2.png
/images/HO_1.png
/images/HO_2.png
/js/Recurse.js
/processForm.php
/tst/contact.html
/tst/style.css
/vagabond/js/Recurse.js
/vagabond/js/base64-string.js
/vagabond/js/contact.js
/vagabond/js/jquery.form.js
/vagabond/js/jquery.min.js
/vagabond/js/jquery.validate.min.js
/vagabond/processForm.php
/vagabond/style/board.svg
/vagabond/style/board_r.svg
/vagabond/style/board_w.svg

/images/hlowe/orig/GB.png
/images/hlowe/orig/GK.png
/images/hlowe/orig/GL.png
/images/hlowe/orig/GL_1.png
/images/hlowe/orig/GL_2.png
/images/hlowe/orig/GL_inv.png
/images/hlowe/orig/GL_orig.png
/images/hlowe/orig/GO.png
/images/hlowe/orig/GR.png
/images/hlowe/orig/GR3.png
/images/hlowe/orig/GR4.png
/images/hlowe/orig/GR5.png
/images/hlowe/orig/GW.png
/images/hlowe/orig/GW3.png
/images/hlowe/orig/GW4.png
/images/hlowe/orig/GW5.png
/images/hlowe/orig/HB.png
/images/hlowe/orig/HK.png
/images/hlowe/orig/HL.png
/images/hlowe/orig/HL_1.png
/images/hlowe/orig/HL_2.png
/images/hlowe/orig/HL_inv.png
/images/hlowe/orig/HL_orig.png
/images/hlowe/orig/HL_test.png
/images/hlowe/orig/HL_test2.png
/images/hlowe/orig/HO.png
/images/hlowe/orig/HR.png
/images/hlowe/orig/HR3.png
/images/hlowe/orig/HR4.png
/images/hlowe/orig/HR5.png
/images/hlowe/orig/HW.png
/images/hlowe/orig/HW3.png
/images/hlowe/orig/HW4.png
/images/hlowe/orig/HW5.png
/solitaire/images/GB.png
/solitaire/images/GK.png
/solitaire/images/GL.png
/solitaire/images/GO.png
/solitaire/images/GO_1.png
/solitaire/images/GO_2.png
/solitaire/images/GR.png
/solitaire/images/GR3.png
/solitaire/images/GR4.png
/solitaire/images/GR5.png
/solitaire/images/GW.png
/solitaire/images/GW3.png
/solitaire/images/GW4.png
/solitaire/images/GW5.png
/solitaire/images/HB.png
/solitaire/images/HK.png
/solitaire/images/HL.png
/solitaire/images/HO.png
/solitaire/images/HO_1.png
/solitaire/images/HO_2.png
/solitaire/images/HR.png
/solitaire/images/HR3.png
/solitaire/images/HR4.png
/solitaire/images/HR5.png
/solitaire/images/HW.png
/solitaire/images/HW3.png
/solitaire/images/HW4.png
/solitaire/images/HW5.png
/solitaire/images/hlowe/Creator.rtf
/solitaire/images/hlowe/GB.png
/solitaire/images/hlowe/GK.png
/solitaire/images/hlowe/GL.png
/solitaire/images/hlowe/GO.png
/solitaire/images/hlowe/GR.png
/solitaire/images/hlowe/GR3.png
/solitaire/images/hlowe/GR4.png
/solitaire/images/hlowe/GR5.png
/solitaire/images/hlowe/GW.png
/solitaire/images/hlowe/GW3.png
/solitaire/images/hlowe/GW4.png
/solitaire/images/hlowe/GW5.png
/solitaire/images/hlowe/HB.png
/solitaire/images/hlowe/HK.png
/solitaire/images/hlowe/HL.png
/solitaire/images/hlowe/HO.png
/solitaire/images/hlowe/HR.png
/solitaire/images/hlowe/HR3.png
/solitaire/images/hlowe/HR4.png
/solitaire/images/hlowe/HR5.png
/solitaire/images/hlowe/HW.png
/solitaire/images/hlowe/HW3.png
/solitaire/images/hlowe/HW4.png
/solitaire/images/hlowe/HW5.png
/solitaire/images/hlowe/orig/GB.png
/solitaire/images/hlowe/orig/GK.png
/solitaire/images/hlowe/orig/GL.png
/solitaire/images/hlowe/orig/GL_1.png
/solitaire/images/hlowe/orig/GL_2.png
/solitaire/images/hlowe/orig/GL_inv.png
/solitaire/images/hlowe/orig/GL_orig.png
/solitaire/images/hlowe/orig/GO.png
/solitaire/images/hlowe/orig/GR.png
/solitaire/images/hlowe/orig/GR3.png
/solitaire/images/hlowe/orig/GR4.png
/solitaire/images/hlowe/orig/GR5.png
/solitaire/images/hlowe/orig/GW.png
/solitaire/images/hlowe/orig/GW3.png
/solitaire/images/hlowe/orig/GW4.png
/solitaire/images/hlowe/orig/GW5.png
/solitaire/images/hlowe/orig/HB.png
/solitaire/images/hlowe/orig/HK.png
/solitaire/images/hlowe/orig/HL.png
/solitaire/images/hlowe/orig/HL_1.png
/solitaire/images/hlowe/orig/HL_2.png
/solitaire/images/hlowe/orig/HL_inv.png
/solitaire/images/hlowe/orig/HL_orig.png
/solitaire/images/hlowe/orig/HL_test.png
/solitaire/images/hlowe/orig/HL_test2.png
/solitaire/images/hlowe/orig/HO.png
/solitaire/images/hlowe/orig/HR.png
/solitaire/images/hlowe/orig/HR3.png
/solitaire/images/hlowe/orig/HR4.png
/solitaire/images/hlowe/orig/HR5.png
/solitaire/images/hlowe/orig/HW.png
/solitaire/images/hlowe/orig/HW3.png
/solitaire/images/hlowe/orig/HW4.png
/solitaire/images/hlowe/orig/HW5.png
/solitaire/js/Recurse.js
/solitaire/js/ai/SkudAIv1.js
/solitaire/js/base64-string.js
/solitaire/js/contact.js
/solitaire/js/jquery.form.js
/solitaire/js/jquery.min.js
/solitaire/js/jquery.validate.min.js
/solitaire/style/board.svg
/capture
*.php
/backup20170925/index.html
/backup20170925/js/Actuator.js
/backup20170925/js/Board.js
/backup20170925/js/BoardPoint.js
/backup20170925/js/GameData.js
/backup20170925/js/GameManager.js
/backup20170925/js/GameNotation.js
/backup20170925/js/Harmony.js
/backup20170925/js/LocalStorage.js
/backup20170925/js/OnlinePlayEngine.js
/backup20170925/js/PaiShoMain.js
/backup20170925/js/Recurse.js
/backup20170925/js/SkudPaiShoController.js
/backup20170925/js/Tile.js
/backup20170925/js/TileManager.js
/backup20170925/js/ai/SkudAIv1.js
/backup20170925/js/base64-string.js
/backup20170925/js/contact.js
/backup20170925/js/jquery.form.js
/backup20170925/js/jquery.min.js
/backup20170925/js/jquery.validate.min.js
/backup20170925/style/board.svg
/backup20170925/style/main.css
/backup20170925/style/main_old.css
/js/PaiShoMain copy_before_I_go_crazy.js
/js/original_controller/Actuator.js
/js/original_controller/Board.js
/js/original_controller/GameManager.js
/vagabond/js/VagabondActuator.js
/vagabond/js/VagabondBoard.js
/vagabond/js/VagabondBoardPoint.js
/vagabond/js/VagabondGameManager.js
/vagabond/js/VagabondGameNotation.js
/vagabond/js/VagabondTile.js
/vagabond/js/VagabondTileManager.js

tst/PaiShoMain.js

*.pem
shop/index.html
index.html-e
js/psmin*.js
test.html
test.html-e
js_other/OnlinePlayEngineIOS.js
js/0_jquery.min.js
psmin_*.js
js_other/Recurse.js
js_other/base64-string.js
js_other/contact.js
js_other/jquery.validate.min.js
js_other/jquery.form.js
images/hlowe/orig2/HW5.png
images/hlowe/orig1/GB.png
images/hlowe/orig1/GK.png
images/hlowe/orig1/GL.png
images/hlowe/orig1/GL_1.png
images/hlowe/orig1/GL_2.png
images/hlowe/orig1/GL_inv.png
images/hlowe/orig1/GL_orig.png
images/hlowe/orig1/GO.png
images/hlowe/orig1/GR.png
images/hlowe/orig1/GR3.png
images/hlowe/orig1/GR4.png
images/hlowe/orig1/GR5.png
images/hlowe/orig1/GW.png
images/hlowe/orig1/GW3.png
images/hlowe/orig1/GW4.png
images/hlowe/orig1/GW5.png
images/hlowe/orig1/HB.png
images/hlowe/orig1/HK.png
images/hlowe/orig1/HL.png
images/hlowe/orig1/HL_1.png
images/hlowe/orig1/HL_2.png
images/hlowe/orig1/HL_inv.png
images/hlowe/orig1/HL_orig.png
images/hlowe/orig1/HL_test.png
images/hlowe/orig1/HL_test2.png
images/hlowe/orig1/HO.png
images/hlowe/orig1/HR.png
images/hlowe/orig1/HR3.png
images/hlowe/orig1/HR4.png
images/hlowe/orig1/HR5.png
images/hlowe/orig1/HW.png
images/hlowe/orig1/HW3.png
images/hlowe/orig1/HW4.png
images/hlowe/orig1/HW5.png
images/hlowe/orig2/GB.png
images/hlowe/orig2/GK.png
images/hlowe/orig2/GL.png
images/hlowe/orig2/GO.png
images/hlowe/orig2/GR.png
images/hlowe/orig2/GR3.png
images/hlowe/orig2/GR4.png
images/hlowe/orig2/GR5.png
images/hlowe/orig2/GW.png
images/hlowe/orig2/GW3.png
images/hlowe/orig2/GW4.png
images/hlowe/orig2/GW5.png
images/hlowe/orig2/HB.png
images/hlowe/orig2/HK.png
images/hlowe/orig2/HL.png
images/hlowe/orig2/HO.png
images/hlowe/orig2/HR.png
images/hlowe/orig2/HR3.png
images/hlowe/orig2/HR4.png
images/hlowe/orig2/HR5.png
images/hlowe/orig2/HW.png
images/hlowe/orig2/HW3.png
images/hlowe/orig2/HW4.png
style/board_orig.svg
images/hlowe/old20190307/
style/pixelshoboard2 orig.png
style/vescucciboard_lg.png
images/hlowe/GM_v1.png
images/hlowe/GP_v1.png
images/hlowe/GT_v1.png
images/hlowe/HM_v1.png
images/hlowe/HP_v1.png
images/hlowe/HT_v1.png
images/hlowenew/AncientOasisV1
favicon_v1.ico
favicon_v2.ico
style/board_darkmode_1.svg
style/board_darkmode_orig.svg
style/vescucciboard_orig_lg.png
style/vescucciboard_orig.png
style/board_mayfair_orig.png
style/board_mayfair_orig2.png
style/pixelshoboard_orig.png
images/SkudPaiSho/hlowe/old20190307
images/SkudPaiSho/hlowe/orig1
images/SkudPaiSho/Unneeded
psmin_*.js
test.html
*.html.bu
images/Trifle/work
js/vagabond/ai/VagabondRandomAIv2.js
style/board_backup.svg
style/pai_sho_board_remix_20200509_1.svg
style/pai_sho_board_remix_20200509_2.svg
style/pai_sho_board_remix_3.svg
style/board_remix_1.png
style/pai_sho_board_remix_4.svg
style/board_remix_2.png
style/board_air_old.png
style/board_water_1.png
style/board_nick_work.xcf
images/SkudPaiSho/vescucci/GR5_orig.png
images/SkudPaiSho/vescucci/HR5_orig.png
style/board_blowtorch_1.png
sounds/tileLand_1.txt
main_20200812.css
images/SkudPaiSho/tggproject/H_old
style/board_remix_3.png
images/SkudPaiSho/tggproject3
images/SkudPaiSho/tggproject4
style/board_azul copy.png
images/SkudPaiSho/gyatsocontrast/GL_orig.png
style/board_nomadic_final1.png
style/board_nomadic_2.png
style/board_nomadic_3.png
images/SkudPaiSho/gyatsocontrast/GR3_2.png
images/SkudPaiSho/gyatsocontrast/GR3_orig.png
images/SkudPaiSho/gyatsocontrast/GR4_2.png
images/SkudPaiSho/gyatsocontrast/GR4_orig.png
images/SkudPaiSho/gyatsocontrast/GR5_2.png
images/SkudPaiSho/gyatsocontrast/GR5_orig.png
.DS_Store
images/SkudPaiSho/tgggyatso/Old
js_other/paishotemplate/
images/Adevar/classic/orig
images/Adevar/monochrome/orig
images/Adevar/spoopy/orig
style/unusedBoards
index_bak20201130.html
images/SkudPaiSho/tgggyatso/GM_orig.png
images/SkudPaiSho/tgggyatso/GP_orig.png
images/SkudPaiSho/tgggyatso/GT_orig.png
images/SkudPaiSho/tgggyatso/HM_orig.png
images/SkudPaiSho/tgggyatso/HP_orig.png
images/SkudPaiSho/tgggyatso/HT_orig.png
