div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color: #776e65;
  font-family: "San Francisco", "Helvetica Neue", Arial, sans-serif;
  font-size: 15px;
}

#mainWrapper {
  max-width: 1198px;
  margin: auto;
}

.footer {
	clear: both;
	padding-top: 10px;
	margin-top: 10px;
  margin-bottom: 20px;
	text-align: left;
  max-width: 612px;
}

.heading:after {
  content: "";
  display: block;
  clear: both; }

h1.title {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  display: block;
    text-align: center;
}


p {
  margin-bottom: 6px;
  line-height: 1.65;
}

li {
  margin-top: 0;
  margin-bottom: 2px;
  line-height: 1.65;
}

ul {
  margin-top: 0;
}

a {
  color: #776e65;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer; }

strong.important {
  text-transform: uppercase; }

hr {
  border: none;
  border-bottom: 1px solid #d8d4d0;
  margin-top: 20px;
  margin-bottom: 30px; }


/* --------------------------------------- */

.newGameEntry {
  margin: 4px 0;
}

/* Style the tab */
div.tab {
    overflow: hidden;
    /*border: 1px solid #ccc;*/
    border-left: 1px solid #ccc;
    /*background-color: #f1f1f1;*/
}

/* Style the buttons inside the tab */
div.tab button {
    /*background-color: inherit;*/
    background-color: #f1f1f1;
    float: left;
    border: 1px solid #ccc;
    border-bottom: none;
    border-left: none;
    outline: none;
    cursor: pointer;
    margin: 0;
    padding: 4px 4px;
    transition: 0.3s;
    font-size: 15px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

div.tab .alertTab, div.tab .alertTab.active {
  background-color: #e33;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 0px 0px;
    border: 1px solid #ccc;
    /*border-top: none;*/
}

.chatContainer {
  display: inline;
  float: left;
}
.chatMessagesDisplay {
    /*background-color: #00FFFF;*/
    max-height: 460px;
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 460px;
}
.chatMessageInput {
  width: 70%;
}

.chatMessage {
  padding: 4px 0;
}

.button {
  display:inline-block;
    color:#444;
    border:1px solid #CCC;
    background:#DDD;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
    max-width: 100px;
    padding: 5px;
    text-align: center;
}
.button:active {
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

#send {
  font-size: x-large;
  margin-top: 4px;
}

#replayControls {
  margin-top: 12px;
  height: 40px;
}

.replayButton {
  /*width: 36px;*/
  /*height: 36px;*/
  width: 20px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: #ccc;
  display: block;
  float: left;
  text-align: center;
  padding: 8px;
  font-size: larger;
  margin-left: 1px;
  margin-right: 1px;
}

.replayButton:active {
  background-color: #bbb;
}

.svgContainer {
  /*width: 576px;*/
  width: 612px;
  margin-top: 8px;
  /*border: 1px dotted gray;*/
  /*padding-left: 1px;*/

  display: inline;
  float: left;

  /*transition: all 2s;*/
  transition: transform 2.5s;
}
.bg-svg {
  width: 100%;
  height: 100%;
  background-image: url(board.svg);
  background-size: cover;
  height: 0;
  padding: 0; /* reset */
  padding-bottom: 100%;
  border: none;
}
figure > div {
  margin: 1em auto;
}

.theSVG {
  display: none;
}

.vagabondBoardRotate {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);

  z-index:0;
}

.vagabondPointRotate {
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
}

.pointContainer {
  /*padding: 16px;*/
  padding: 17px;
  height: 612px;
  width: 612px;
}
.tilePileContainer {
  display: inline;
  float: left;
  /*width: 236px;*/
  width: 222px;
  margin-left: 12px;
  /*min-height: 612px;*/

  z-index:1;
  position: relative;
}

.gameMessage, .gameMessage2 {
  clear: left;
  width: 90%;
  margin-top: 6px;
}

.point {
  /*border-radius: 16px;
  width: 32px;
  height: 32px;*/
  border-radius: 17px;
  width: 34px;
  height: 34px;
  display: inline;
  float: left;
}
.activePoint:hover {
/*  -moz-box-shadow: 0px 0px 32px #054;
  -webkit-box-shadow: 0px 0px 32px #054;*/
  /*box-shadow: 0px 0px 32px #054;*/
  box-shadow: 0px 0px 34px #054;
}

.hasTile {
  box-shadow: 0px 0px 4px #555;
}

.point img {
  width: 100%;
}

.drained {
  opacity: 0.6;
}

.possibleMove {
  /*box-shadow: 0px 0px 32px #421;*/
  box-shadow: 0px 0px 34px #421;
}

.possibleMove img {
  opacity: 0.8;
}

.selectedFromPile {
  /*box-shadow: 0px 0px 32px #054;*/
  /*box-shadow: 0px 0px 34px #054;*/
  box-shadow: 0px 0px 4px 4px #c6c;
}

.GUESTharmony {
  box-shadow: 0px 0px 8px 4px #87f;
}
.HOSTharmony {
  /*box-shadow: 0px 0px 8px 4px #ff8100;*/
  box-shadow: 0px 0px 8px 4px #6CC;
}


.betweenHarmony {
  margin: 16px;
  width: 2px;
  height: 2px;
}
.bhHost {
  box-shadow: 0px 0px 7px 3px #6cc;
  background-color: #6cc;
}
.bhGuest {
  box-shadow: 0px 0px 7px 3px #87f;
  background-color: #87f;
}
.bhHost.bhGuest {
  box-shadow: 0px 0px 7px 3px #77A2E6;
  background-color: #77A2E6;
}



.hostTilesContainer, .guestTilesContainer {
  display: inline-block;
  float: left;
  margin-top: 12px;
}

.tilePileContainer div div {
  display: inline;
  float: left;
  width: 34px;
  margin-top: 8px;
}

.clear {
  clear: both;
}

.skipBonus, .clickableText {
  text-decoration: underline;
  /*border: 1px solid #776e65;*/
  /*border-radius: 4px;*/
  padding: 1px;
  font-weight: bold;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

.gone {
  display: none;
}

input[type=submit] {
  /*background: #24333d;
  color: #FFF;*/
  font: inherit;
  padding: 7px 20px;
  width: auto;
}

.helpContainer {
  margin: 6px 0 0 0;
  width: 335px;
  display: inline;
  float: left;
  /*font-size: 85%;*/
  /*min-height: 612px;*/
}

.helpContainer h4 {
  margin-top: 0;
  padding-top: 4px;
}

.license {
  margin-top: 20px;
  font-size: smaller;
}

.header {
  position: relative;
  width: 100%;
  height: 32px;
  margin: 0;
  padding: 0 12px;
  background-color: #444;
  color: #faf8ef;
  font-size: 14px;
  z-index: 1;
}

.header h1 {
  margin: 0;
  font-size: 26px;
}

.headerLeft {
  float: left;
}

.headerRightContainer {
  display: block;
  float: right;
  margin: 0;
  background-color: #444;
  color: #faf8ef;
  font-size: 14px;
}

.headerRight {
  float: right;
  margin-top: 10px;
  color: #faf8ef;
  text-decoration: none;
}

#onlinePlayTest {
  display: none;
}

/* Modal - from W3Schools Modal How-To */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 8px 12px 12px 12px;
    /*position: relative;*/
    border: 1px solid #888;
    width: 80%;
    max-width: 760px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    /*-webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.2s;
    animation-name: animatetop;
    animation-duration: 0.2s;*/
}

/* The Close Button */
.myMainModalClose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.myMainModalClose:hover,
.myMainModalClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#modalHeading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 5px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* End Modal */

/* -------------------------- */

@media only screen and (max-width: 1198px) {
  .helpContainer {
    width: 230px;
  }
}

@media only screen and (max-width: 1090px) {
  /* Show message under board */
  .tilePileContainer {
    width: 204px;
  }

  .helpContainer {
    clear: both;
    width: 612px;
    margin-bottom: 20px;
    margin-top: 16px;
  }

  .helpContainer h4 {
    text-align: center;
  }

  .chatMessagesDisplay {
    max-height: 280px;
    min-height: 280px;
  }
  #helpTextContent {
    min-height: 280px;
  }

  .footer {
    border-top: 1px solid #776e65;
  }
}

@media only screen and (max-width: 843px) {
  /* Was 828px */
  /* Show tiles under board */
  .tilePileContainer {
    clear: both;
    width: 612px;
  }

  .hostTilesContainer, .guestTilesContainer {
    margin-left: 9.3vw;
  }

  .tilePileContainer div {
    margin-top: 4px;
  }

  .tilePileContainer div div {
    margin-top: 4px;
  }

  #send {
    font-size: large;
    margin-top: 0;
  }
}

@media only screen and (max-width: 612px) {
    .header {
      padding: 0;
    }

    .svgContainer {
      width: 100vw;
    }

    .pointContainer {
      width: 100vw;
      height: 100vw;
    }

    .pointContainer {
      padding: 2.77777vw;
    }

    .tilePileContainer {
      width: 95%;
    }

    .tilePileContainer div div {
      width: 5.5555vw;
    }

    .point {
      width: 5.5555vw;
      height: 5.611vw;
    }

    .helpContainer {
      width: 100%;
    }

  .possibleMove {
    /*box-shadow: 0px 0px 32px #421;*/
    box-shadow: 0px 0px 5.6vw #421;
  }

  .betweenHarmony {
    /*margin: 0;*/
    margin: 2.614vw;
    width: 0.3268vw;
    height: 0.3268vw;
    /*width: 5.5555vw;
      height: 5.611vw;*/
  }
  .bhHost {
    box-shadow: 0px 0px 7px 3px #6cc;
    background-color: #6cc;
  }
  .bhGuest {
    box-shadow: 0px 0px 7px 3px #87f;
    background-color: #87f;
  }
  .bhHost.bhGuest {
    box-shadow: 0px 0px 7px 3px #77A2E6;
    background-color: #77A2E6;
  }

  .headerLeft {
    display: none;
  }

}

@media only screen and (max-width: 350px) {
  .headerRulesLink {
      display: none;
    }

    .headerRight {
      margin-right: 0;
    }
}

@media only screen and (max-width: 306px) {
    .svgContainer {
      width: 306px;
    }

    .pointContainer {
      width: 306px;
      height: 306px;
    }

    .pointContainer {
      padding: 8.5px;
    }
    
    .tilePileContainer div {
      margin-top: 2px;
    }

    .tilePileContainer div div {
      width: 17px;
      margin-top: 2px;
    }

    .point {
      width: 17px;
      height: 17px;
    }

    .betweenHarmony {
      margin: 8px;
      width: 1px;
      height: 1px;
    }
    .bhHost {
      box-shadow: 0px 0px 7px 3px #6cc;
      background-color: #6cc;
    }
    .bhGuest {
      box-shadow: 0px 0px 7px 3px #87f;
      background-color: #87f;
    }
    .bhHost.bhGuest {
      box-shadow: 0px 0px 7px 3px #77A2E6;
      background-color: #77A2E6;
    }

}


